* {
  margin: 0;
  padding: 0;
}

.box {
  height: 360px;
  width: 500px;
  margin-left: 33%;
  margin-top: 10%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box p {
  cursor: pointer;
  margin-top: 10px;
}

.bar {
  height: 35px;
  width: 260px;
  border-radius: 10px;
  padding-left: 10px;
  border: none;
  background-color: rgb(241, 241, 241);
}

.profile {
  background: #000;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile button {
  height: 16px;
  width: 20px;
  border: none;
  margin-top: 74%;
  margin-left: 70%;
  border-radius: 4px;
  cursor: pointer;
}

/* Navbar */
.navbar {
  height: 50px;
  width: 100%;
  background-image: url(./Images/freepik__abstract-geometric-shapes-and-patterns-in-shades-o__56682.jpeg);
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.navbar input {
  height: 30px;
  width: 250px;
  outline: none;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
}

.tafuta {
  height: 100%;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  height: 28px;
  width: 60px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 4px;
  color: rgb(146, 146, 146);
}

.buttons {
  height: 100%;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification,
.settings {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  margin: 0 5px;
  cursor: pointer;
}

.noty-display {
  background-color: hsla(187, 38%, 13%, 0.98);
  height: 270px;
  width: 290px;
  position: absolute;
  /* border: 1px solid rgb(91, 91, 91); */
  border-bottom: ridge 8px;
  border-radius: 0 0 10px 10px;
  top: 100%;
}

.noty-display h6 {
  margin-left: 10px;
  color: #e1e1e1;
}

.noty-content {
  height: 82%;
  width: 94%;
  margin-left: 8px;
  overflow-y: auto;
  padding-left: 5px;
  color: #000000;
  font-size: 14px;
  padding-top: 2px;
  line-height: 0.7rem;
  /* padding-top: 15px; */
}

.box-1-noty {
  background-image: linear-gradient(rgb(144, 144, 144), rgb(255, 225, 166));
  height: 46px;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-top: 8px;
}

.box-1-noty:hover {
  border: outset 4px;
  cursor: pointer;
  padding-left: 4px;
  line-height: 0.4rem;
  transition: ease-in-out 990ms;
}

.clear {
  border: none;
  position: absolute;
  bottom: 0;
  right: 26px;
  height: 18px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.profileP {
  height: 100%;
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic {
  background-image: url(./Images/ppic.webp);
  background-position: center;
  background-size: cover;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}

.search-results-list {
  list-style: none;
  margin: 0;
  padding: 0;
  background: white;
  border: 1px solid #ddd;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  z-index: 10;
  width: 100%;
}

.search-result-item {
  padding: 10px;
  cursor: pointer;
}

.search-result-item:hover {
  background-color: #f0f0f0;
}

.dropdown-header {
  font-weight: bold;
  padding: 10px;
  background-color: #f7f7f7;
}

/* End of Navbar */

/* Sidebar */

.sidebar {
  background-image: url(./Images/freepik__abstract-geometric-shapes-and-patterns-in-shades-o__56682.jpeg);
  background-position: center;
  background-size: cover;
  width: 213px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  background-image: url(./Images/Acdi\ small.jpg);
  background-position: center;
  background-size: contain;
  height: 80px;
  position: absolute;
  width: 80px;
  border-radius: 50%;
  top: 50px;
  cursor: pointer;
}

.click {
  text-decoration: none;
  color: #fff;
  height: 45px;
  width: 99%;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.click:hover {
  transition: ease-in-out 970ms;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: rgb(104, 216, 212);
  font-size: 18px;
  font-weight: 550;
  border: 3px rgb(104, 216, 212) solid;
}

.out {
  position: absolute;
  margin-top: 30%;
  height: 30px;
  width: 80px;
  background-color: inherit;
  color: #a4a4a4;
  border: none;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 550;
}

.out:hover {
  color: white;
  height: 40px;
  width: 110px;
  font-size: 17px;
  transition: ease-in 990ms;
  border: 3px red solid;
}

/* End of SideBar */

/* Start of Home */

.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #f4f4f4;
}

.container {
  /* background: #f4f4f4; */
  height: 100%;
  width: 100%;
  display: flex;
  background-image: url(./Images/rb_61898.png);
  background-size: cover;
  background-position: center;
  flex-direction: column;
}

.box1 {
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-half,
.right-half {
  height: 250px;
  width: 500px;
  margin: 0 25px;
  border-radius: 15px;
  background-color: hsla(0, 0%, 79%, 0.563);
}

.left-half h4,
.right-half h4 {
  margin-left: 20px;
}

.cubes {
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.uno,
.dos,
.tres,
.quatro {
  background-color: #efefef;
  width: 230px;
  height: 90px;
  margin-top: -15px;
  display: flex;
  flex-wrap: wrap;
}

.cup {
  height: 60%;
  width: 30%;
  margin-top: 18px;
  margin-left: 10px;
  margin-right: 5px;
}
.total {
  height: 40px;
  width: 50%;
  margin-top: 5px;
  font-weight: 500;
  padding-top: 6px;
}

.bold {
  height: 40px;
  width: 90px;
  position: absolute;
  margin-top: 50px;
  margin-left: 80px;
  font-size: 26px;
  font-weight: 550;
}

.box2 {
  height: 44%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #f4f4f4; */
}

.inventory-Summary,
.Product-details,
.No-of-Users {
  background-color: hsla(0, 0%, 84%, 0.337);
  height: 220px;
  border-radius: 15px;
  width: 340px;
  margin: 0 20px;
}

.inventory-Summary p,
.No-of-Users p {
  font-weight: 550;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.Product-details p {
  font-weight: 550;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.numb {
  height: 78%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

.amnt {
  height: 80%;
  width: 45%;
  background-color: #f4cbcb;
}

/* End of Home */

/* Inventory */

.inventory {
  height: 100dvh;
  width: 100dvw;
  display: flex;
}

.content2 {
  background-image: url(./Images/rb_61898.png);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 1324px;
  overflow-x: hidden;
}

.inventory-list {
  margin-top: -10px;
  overflow-y: auto;
}

.title {
  background: #ffffff;
  height: 45px;
  width: 100%;
}

.small-top {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: ridge;
}

.inv {
  margin-top: 10px;
  margin-left: 40px;
  height: 35px;
  width: 110px;
  background: hsla(0, 0%, 36%, 0.803);
  color: white;
}

.add-item-btn {
  margin-left: 40px;
}

.small-top h4 {
  margin-left: -2%;
  margin-right: 72%;
  color: #010101;
  /* position: absolute; */
}

.mbody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mbody label {
  margin-top: 10px;
  color: #acacac;
}

.mbody input {
  border: none;
  border-bottom: ridge 2px;
  outline: none;
}

.table {
  width: 75%;
  margin-left: 40px;
  margin-top: 5px;
  overflow-y: auto;
}

.pen {
  align-content: center;
  margin-left: 10px;
}

.sendReport,
.print {
  height: 28px;
  width: 60px;
  margin-right: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.sendReport {
  background-color: #ebebeb;
  color: #000;
}

.log1 {
  font-size: 22px;
  margin-bottom: 5px;
  margin-top: -3px;
}

.log {
  font-size: 20px;
}

.log:hover,
log1:hover {
  color: rgb(73, 176, 217);
}

.grey {
  background-color: rgb(239, 239, 239);
  height: 30px;
  width: 160px;
}

.light {
  background: #ffffff;
}

.edit,
.delete {
  height: 25px;
  width: 25px;
  margin-left: 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.btns {
  font-size: 20px;
}

.blue:hover {
  color: rgb(73, 176, 217);
}

.red:hover {
  color: red;
}

.requested {
  right: 0;
  margin-right: 20px;
  border-radius: 10px;
  border-style: outset;
  top: 18%;
  height: 550px;
  width: 250px;
  background: #e4e4e4;
  position: absolute;
  overflow-y: auto;
}

.order-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  background: #dddddd;
  border-bottom: ridge;
}

.order-content:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-weight: 700;
  transition: ease-in-out 600ms;
}

.icon {
  height: 80%;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #43c0f6;
  font-size: 18px;
  width: 50px;
  margin-right: 5px;
  border-radius: 50%;
}

.icon-name {
  height: 80%;
  width: 70%;
  padding-top: 5px;
  line-height: 0.5em;
  background-color: #f1f1f1;
}

.icon-name-head {
  color: #acacac;
  margin-left: 5px;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 550;
  padding-left: 2px;
}

.check {
  font-size: 14px;
  margin-left: 5px;
  color: rgb(113, 255, 47);
}

.icon-item {
  margin-top: 10px;
  font-size: 14px;
  color: #8e8e8e;
  margin-left: 5px;
}

.icon-date {
  margin-top: 10px;
  padding-left: 2px;
  font-size: 14px;
  margin-left: 5px;
  color: #a7a7a7;
}


/* End of Inventory */

/* Sales */
.sales {
  height: 100dvh;
  width: 100dvw;
  background-color: wheat;
  display: flex;
  position: relative;
}

.content {
  background-image: url(./Images/rb_60158.png);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 90%;
  overflow-x: hidden;
}

.pay-page {
  height: 62px;
  width: 20%;
  display: flex;
  float: right;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  /* background: #f1f1f1; */
  margin-bottom: 5px;
}

.unpaid {
  height: 100%;
  background: rgb(253, 146, 107);
  width: 300px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
  cursor: pointer;
}

.unpaid:hover .dropdown {
  display: block;
}

.paid {
  height: 100%;
  background: hsla(42, 100%, 59%, 0.63);
  width: 300px;
  margin-right: 20px;
  cursor: pointer;
  margin-left: 20px;
}

.row-queried {
  background-color: grey;
  color: lightgrey;
}

.row-default {
  background-color: white;
  color: black;
}

.mb {
  margin-left: 35px;
  margin-top: 15px;
}

.meza {
  margin-left: 35px;
  margin-top: 5px;
  width: 95%;
}

.plus {
  height: 15px;
  width: 15px;
  text-align: center;
  font-size: 12px;
  border: none;
  margin-left: 5px;

  background-color: transparent;
}

.plus:hover {
  color: rgb(6, 138, 191);
}

.select {
  width: 200px;
  outline: none;
  border: none;
  border-bottom: solid 1px lightgrey;
}

.delete-modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.delete-modal p {
  font-size: 20px;
  font-weight: 550;
}

.wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.long {
  width: 40%;
  margin-top: 15px;
}

.pagination {
  display: flex;
  float: right;
  margin-top: -5px;
  margin-right: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30px;
  width: 100px;
  justify-content: space-evenly;
  /* background: #a1a1a1; */
}

.pagination button {
  font-size: 12px;
  height: 20px;
  width: 20px;
  border: none;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination button:hover {
  background-color: #e2e6ea;
}

/* Sales End */

/* Boss */

.boss {
  height: 100dvh;
  width: 100dvw;
  display: flex;
}

.bar {
  height: 50px;
  width: 90%;
}

.down-low {
  margin: 5px 0;
  background-position: center;
  background-size: cover;
  background-image: url(./Images/colorful-circles-dark-background.png);
  height: 640px;
  width: auto;
  display: flex;
  /* margin-left: -8px; */
  flex-direction: column;
  align-items: center;
}

.center_piece {
  height: 120px;
  width: 750px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

Carousel {
  height: 100px;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
}

/* .carousel-caption {
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
} */

.carousel-indicators [data-bs-target] {
  background-color: #000;
}

.carousel-indicators .active {
  background-color: #fff;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.cubed {
  height: 500px;
  width: 1300px;
  display: flex;
  justify-content: space-around;
  /* background-color: rgb(246, 246, 246); */
}

.one {
  height: 99%;
  width: 40%;
}

.earnings {
  height: 200px;
  margin-top: 5px;
  border-radius: 5px;
  width: auto;
  background-color: rgb(227, 241, 255);
}

.Queries {
  margin-top: 10px;
  height: 270px;
  border-radius: 5px;
  width: auto;
  overflow-y: auto;
  background-color: hsla(201, 95%, 77%, 0.489);
}
.q-title {
  height: 35px;
  border-bottom-style: groove;
  width: auto;
  display: flex;
  padding-top: 5px;
  padding-left: 10px;
  align-items: center;
  margin-bottom: 10px;
  color: white;
}
.q-content {
  height: auto;
  width: 94%;
  margin-bottom: 5px;
  margin-left: 15px;
  padding-bottom: 4px;
}
.q-contenthead {
  display: flex;
  justify-content: space-evenly;
  height: 14%;
  width: auto;
  margin-top: 3px;
  padding-bottom: 1px;
  background-image: linear-gradient(
    180deg,
    rgb(206, 253, 255),
    rgb(148, 148, 148)
  );
}
.big {
  font-weight: 500;
}

.q-contenthead button {
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 10px;
}

.no-error {
  color: white;
  height: 20px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  font-weight: 550;
  background-color: #16dd44;
}

.del {
  color: white;
  height: 20px;
  width: 60px;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  background-color: red;
}
.q-contenttail {
  display: flex;
  justify-content: space-evenly;
  height: 50%;
  width: auto;
  background-color: burlywood;
}

.two {
  /* background: #ffc8c8; */
  height: 99%;
  width: 40%;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.books {
  height: 250px;
  background-color: hsla(201, 92%, 81%, 0.889);
}

.bookstitle {
  /* background-color: rgb(171, 54, 33); */
  border-bottom-style: outset;
  color: #838383;
  height: 35px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

.cash-in {
  border: none;
  background-color: rgb(41, 176, 229);
  color: white;
  border-radius: 5px;
  font-size: 14px;
  height: 30px;
  width: 60px;
  font-weight: 550;
  margin-right: 30px;
}

.holder {
  height: 80%;
  width: auto;
  overflow-y: auto;
}

.booklist-item {
  display: flex;
  justify-content: space-between;
  /* padding: 10px; */
  height: 40px;
  padding-left: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.662);
  margin-bottom: 5px;
  padding-top: 8px;
  border-bottom: 1px solid #ddd;
}
.booklist-item:hover {
  background-color: #f9f9f9;
}

.p,
.sellername {
  margin-left: 12px;
  font-weight: 550;
}

.color {
  margin-right: 20px;
  color: #ffffff;
  font-weight: 550;
  border-radius: 8px;
  margin-left: 20px;
  color: rgb(0, 199, 0);
}

.nobest {
  font-weight: 550;
  color: #c2c2c2;
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin-top: 14%;
}

.sales2day {
  background-color: hsla(201, 92%, 81%, 0.489);
  height: 210px;
  color: #dddddd;
}

.blogstitle {
  color: #838383;
  font-weight: 550;
  font-size: 18px;
  border-bottom-style: outset;
  height: 30px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.blog-container {
  height: 160px;
  width: 100%;
  color: #636363;
}

.bloghead {
  margin-bottom: -1px;
  margin-left: 25px;
}

.blogdate {
  margin-bottom: -4px;
  margin-left: 25px;
  font-size: 12px;
}

.blogtext {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 35px;
  font-style: italic;
  font-size: 16px;
}

.blogname {
  margin-left: 30px;
  font-weight: 550;
  margin-top: -4px;
}
